body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: bisque;
}

header {
  background-color: darkred;
  color: orange;
}

 #currentDay {
  font-size: 38pt;
  padding-top: 10px;
  font-weight: 600;
  text-decoration: underline;
}

#currentTime {
  font-size: 38pt;

  font-weight: 600;
  text-decoration: underline;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  
}






.description {
  white-space: pre-wrap;
  
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: bisque;
  color: #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px dashed #000000;
  
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

